@import './reset';
@import './breakpoints';
@import './variables';
@import './mixins';

section {
    width: 100%;
    height: auto;
    padding: 0;
    font-family: "Roboto", sans-serif;
    @include flexCenter();

    @include media-breakpoint-up(sm) {
        height: 100vh;
        padding: 20px;
    }

    .container {
        width: calc(100% - 40px);
        padding: 80px 0 100px;
    
        @include media-breakpoint-up(sm) {
            width: 80%;
            padding: 0;
        }

        h1 {
            width: 100%;
            font-size: 2.4rem;
            font-weight: weight(bold);
            text-align: left;
            padding: 24px 0;
        }

        p {
            line-height: 1.5rem;
            text-align: justify;
    
            @include media-breakpoint-up(sm) {
                text-align: left;
            }
        }

        .actions {
            @include flexCenter(row);
            margin-top: 40px;

            .btn {
                margin: 0 auto;
                padding: 8px;
                border-radius: 8px;
                font-size: 1.5rem;
                text-decoration: none;
                color: inherit;
                font-weight: weight(medium);

                &:hover {
                    color: #fff;
                }
            }
        }
    }

    &.javascript {
        @include theme(yellow, #000);
    }
    
    &.react {
        @include theme(#00c0dc, #fff);
        
        .actions {
            .btn {
                &:hover {
                    color: #3c3e34;
                }
            }
        }
    }
    
    &.nodejs {
        @include theme(#7db741, #3c3e34);
    }
}